@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&family=Noto+Sans+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    
  } 
  nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #6f349c;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    font-family: 'Coda', sans-serif;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  nav .logo{
    color: #fff;
    font-size: 2.7rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: rgb(42, 126, 185);
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
.section-1{
  padding: 1vh 0 0 0;
  height: 75vh;
  background-color: #cb97ff;
}
.pic{
  height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15vh 10vw 0;
    background-image: url("https://orosish.com/Content/images/PMS.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    font-family: 'Coda', sans-serif;
    background-color:rebeccapurple;
}
.pic img{
  margin: 5vh 5vw;
    width: 25vw;
    height: auto;
    border: 4px solid rgb(244 204 243 / 98%);
    border-radius: 50%;
}
.about{
  /* display: flex; */
    margin: 9%; 
    font-size: 1.4rem;
    color: rgb(218 163 252);
    letter-spacing: 1px;
    max-width: 40%;
}

.about-me{
    padding: 1px;
    font-family: 'Coda', sans-serif;
    background: linear-gradient(to bottom, #cc99ff 0%, #ffccff 116%);
}

.about-me .head{
  /* display: flex;
  justify-content: center; */
  margin: 12vh 125px 0;
    font-size: 2.2rem;
    color: rgb(72, 9, 131);
}
.about-me .content{
  display: flex;
    color: rgb(112 28 196);
    margin: 2vh 5vw 5vh 2vw;
    font-family: 'Helvetica', sans-serif;
    line-height: 35px;
}
.content p{
  max-width: 50rem;
  margin: 2rem 6rem;
  font-weight:bold;
  font-size: 1.3rem;
}
.content .avatar img{
  width:20vw;
  height: auto;
  
}

.ins ul{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 3rem;
}
.ins ul li a:hover{
    font-weight: 800;
    cursor: pointer;
    color: rgb(62, 78, 200);
}
.ins ul li a{
    text-decoration: none;
    color: rgb(185, 58, 58);
    font-size: 2rem;
}
.ins ul li{
  padding: 2rem;
}
.ins ul li a img{
  width:65px;
  display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
}
.ins ul li a img:hover{
  transform: scaleX(-1);
  transition: 0.6s;
}


@media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    /* #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    } */
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
  }


  .section-2-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    background-color: #f7c4ff;
    padding: 10vh 0;
    font-family: 'Coda', sans-serif;
}
.section-2-container .skills{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 35%;
  font-size: 4rem;
  font-weight: 700;
  color: rgb(72 9 131);
}
.section-2-container .section-2-column{
    width: 400px;
    height: 370px;
    border-radius: 35px; 
    border: 2px solid rgba(127, 65, 65, 0.23);
}
.section-2-container .section-2-column img{
    max-width: 350px;
    max-height: 230px;
    height: auto;
    width: auto;
    margin: 25px ;
    
}
#js{
  margin-left: 90px;
}
.section-2-container .section-2-column p{
  font-weight: 800;
  font-size: 1.5rem;
  margin-left: 2vw;
  margin-right: 1vw;
}
.section-2-container .section-2-column h1{
  display: flex;
  justify-content: center;
  font-size: 2.6rem;
  color: #b049cb;
}
.section-2-column:hover {
  transform: translateY(-0.1%);
  transition: 0.2s;
  box-shadow: 0 2px 20px rgb(0 0 0 / 48%);
  cursor: pointer;
}
#work{
  background-color: #f7c4ff;
}
.section-3-container{
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10vh 0;
    font-family: 'Coda', sans-serif;
}
.section-3-container .section-3-column{
  width: 39vw;
    height: 75vh;
    border-radius: 35px; 
    border: 2px solid rgba(127, 65, 65, 0.23);
    background-color:#cda2f58f ;
}
.section-3-container .section-3-column img{
  height: 60vh;
  width: 35vw;
  margin: 4vh 2vw 2vh;
  border-radius: 25px;
}
.section-3-container .section-3-column img:hover{
  cursor: pointer;
   transform: translateY(-0.3%);
   transition: 0.3s;
   width: 36vw;
  height: 61vh; 
}
.section-3-container .section-3-column h2{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(72 9 131);
  font-size: 2.3rem;
}
.contact{
  height: auto;
  background: linear-gradient(to bottom, #f7c4ff 0%, #cc99ff 70%);
  font-family: 'Coda', sans-serif;
}
 .hd h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-size: 3.8rem;
  font-family: 'Coda', sans-serif;
  color: rgb(72 9 131);
}
.fcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fill{
  width: 25rem;
  height: 21rem;
  border: 2px solid rgb(115, 15, 135);
  border-radius: 12px;
  margin-bottom: 5vh;
  background-color: #8a41c1b5;
}
.fcol1{
  margin: 10px 20px;
}
.fcol1 input{
  padding: 3% 5%;
  width: 87%;
  border-radius: 5px;
  font-family: 'Coda', sans-serif;
  border: 2px solid black;
}
#long{
  margin: 1vh 0;
  padding: 3% 5%;
  height: 4.1rem;
  width: 19.6rem;
  font-family: 'Coda', sans-serif;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 5px;
}
.fcol1 button{
  width: 110%;
  height: 2.3rem;
  margin: 0 -17px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Coda', sans-serif;
  font-size: 1rem;
  background-color: black;
  color: white;
}
.fcol1 button:hover{
  background: linear-gradient(to right, #9999ff 0%, #cc00ff 90%);
  cursor: pointer;
  color: #111;
  font-weight: 600;
}

footer{
  font-family: 'Coda', sans-serif;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f349c;
  color: #aad9f9;
  font-size: 1.3rem;
  font-weight: 600;
}

@media(max-width:840px){
  .section-2-container .skills{
    font-size: 3rem;
  }
  .about{
    font-size: 1.2rem;
  }
  .section-3-container .section-3-column{
    height: 53vh;
    width: 70vw;
  }
  .section-3-container .section-3-column img{
    height: 40vh;
    width: 55vw;
    margin: 4vh 7vw 1vh;
  }
  .section-3-container .section-3-column h2{
    font-size: 1.4rem;
  }
  .ins ul li a img{
    width:45px;
  }
}
@media(max-width:575px){
  .content p{
    font-size: 0.9rem;
  }
  .content .avatar img{
       width: 15vw;
  }
}
@media(max-width:628px){
  .section-2-container .skills{
    font-size: 2.5rem;
  }
  .about-me .head{
    font-size: 1.9rem;
  }
  .about-me .content{
    line-height: 20px;
    margin-right: 0;
  }
}
@media(max-width:522px){
  .section-2-container .skills{
    font-size: 2rem;
  }
  .about{
    font-size: 1rem;
  }
  .section-3-container .section-3-column {
    height: 45vh;
  }
  .section-3-container .section-3-column img{
    height: 30vh;
    width: 55vw ;
    border-radius: 15px;
  }
}
@media(max-width:489px){
  .about-me .head{
    font-size: 1.5rem;
  }
  .contact .hd h1{
    font-size: 3rem;
  }
  .content .avatar img{
    margin-left: 0;
  }
}
@media(max-width:450px){
  .content .avatar img{
    display: none;
  }
}
@media(max-width:422px){
  .section-2-container .skills{
    font-size: 1.5rem;
  }
  .about{
    font-size: 0.7rem;
  }
  .about-me .head{
    font-size: 1.8rem;
  }
  .section-2-container .section-2-column{
    width: 270px;
    height: 300px;
}
.section-2-container .section-2-column img{
    height: 150px;
    width: 220px;
    margin-bottom: 3px;
}
.section-2-container .section-2-column p{
    font-size: 0.9rem;
}
.section-2-container .section-2-column h2{
    font-size: 1rem;
}
#js{
  margin-left: 6vw;
}
.hd h1{
  font-size: 1.9rem;
}
}
@media(max-width:385px){
  .about-me .head{
    font-size: 1.2rem;
  }
  .about{
    font-size: 0.6rem;
  }
  .contact .hd h1{
    font-size: 2rem;
  }
  nav .logo{
    font-size: 2rem;
  }
}
@media(max-width:470px){
.fill{
  width: 13rem;
  height: 18.5rem;
}
#long{
  width: 9.2rem;
}
.fcol1 button{
  width: 130%;
}
}